header{
    background-color: #FFFAEF;
    .nav_container{
        width:90%;
        margin: 0 auto;
        padding-top: 25px;
        nav{
            display:flex;
            font-weight:400;
            justify-content: space-between;
            align-items: center;
            a{
                margin-right: 12px;
            }
            .logo{
                color:  #00C08B;
                font-style: italic;
                font-size: 22px;
            }
        }
    }
}

