
.some_date{
    margin-left: 30px;
}
.topic{
    width: 800px;
    height: 70px;
    border:3px solid black;
    
}
.topic_text{
    margin-left: 10px;

   
}
.container{
    margin-left: 200px;
}
.box{
    position: relative; 
}
p{
   
    display: inline-block;

}

.box-inner{
    position: absolute;
    bottom: -10px;
}
.info_2{
    margin-left: 20px;
}
.profile{
    width: 800px;
    height: 600px;
    border: 3px solid black;
    border-top: hidden;
}

