header {
  background-color: #FFFAEF;
}
header .nav_container {
  max-width: 1440px;
  margin: 0 auto;
  margin: 0 auto;
  padding-top: 25px;
}
header .nav_container nav {
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
}
header .nav_container nav a {
  margin-right: 12px;
}
header .nav_container nav .logo {
  color: #00C08B;
  font-style: italic;
  font-size: 22px;
}

.footer {
  background-color: #E5E5E5;
}
.footer .container {
  padding-top: 23px;
  padding-bottom: 30px;
  max-width: 1440px;
  margin: 0 auto;
}
.footer .container .line {
  width: 1390px;
  height: 2px;
  background-color: #006450;
  margin: 0 auto;
  margin-bottom: 27.5px;
}
.footer .container .main_links {
  display: flex;
  justify-content: space-around;
}
.footer .container .help {
  width: 49px;
  height: 20px;
}
.footer .container .help p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #006450;
}
.footer .container .footer_links {
  width: 348px;
  padding-top: 18px;
}
.footer .container .footer_links a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.footer .connect_container .connect {
  width: 64px;
  height: 20px;
}
.footer .connect_container .connect p {
  font-size: 13px;
  line-height: 20px;
  color: #006450;
  font-weight: 400;
}
.footer .info_container .info {
  width: 35px;
  height: 20px;
}
.footer .info_container .info p {
  font-size: 13px;
  line-height: 20px;
  color: #006450;
  font-weight: 400;
}
.footer .community_container .community {
  width: 103px;
  height: 20px;
}
.footer .community_container .community p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #006450;
}
.footer .additional_part {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.footer .additional_part p {
  font-size: 12px;
  color: #006450;
  line-height: 20px;
}
.footer .additional_part .date_by {
  position: absolute;
  left: 15px;
  font-size: 12px;
  line-height: 20px;
}
.footer .additional_part .logo {
  text-align: center;
  font-style: italic;
  color: #00C08B;
  font-size: 30px;
  line-height: 30px;
}
.footer .additional_part .support {
  position: absolute;
  right: 100px;
  font-size: 11px;
  line-height: 18px;
}
.footer .additional_part .submit {
  position: absolute;
  right: 0;
  font-size: 11px;
  line-height: 12.89px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.4px;
}

a {
  text-decoration: none;
  color: #006450;
}

.shop_now {
  background-image: url("../../../image/Rectangle.jpg");
  width: 100%;
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.shop_now .container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 90px;
}
.shop_now .container .main_text {
  color: #fffaef;
  font-weight: 200;
  font-size: 30px;
}
.shop_now .container button {
  width: 201px;
  height: 64px;
  background-color: #E1FF32;
  text-align: center;
  border: none;
  line-height: 64px;
}

.plastic_waste {
  background-color: #E5E5E5;
}
.plastic_waste .container {
  padding-top: 23px;
  max-width: 1440px;
  margin: 0 auto;
}
.plastic_waste .container .line {
  width: 1390px;
  height: 2px;
  background-color: #006450;
  margin: 0 auto;
  margin-bottom: 84px;
}
.plastic_waste .container .section_header {
  text-align: center;
  width: 583px;
  height: 132px;
  margin: 0 auto;
}
.plastic_waste .container .section_header h3 {
  font-size: 36px;
  line-height: 44px;
  color: #006450;
}
.plastic_waste .container .cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 107px;
}
.plastic_waste .container .cards .card {
  width: 683px;
  height: 683px;
  color: #FFFAEF;
  position: relative;
}
.plastic_waste .container .cards .card .card_header {
  position: absolute;
  top: 13px;
  left: 120px;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-transform: lowercase;
}
.plastic_waste .container .cards .card .card_main {
  position: absolute;
  top: 67px;
  right: 150px;
  left: 120px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}
.plastic_waste .container .cards .card button {
  background-color: #e1ff32;
  border: transparent;
  position: absolute;
  font-size: 24px;
  font-weight: 400;
  line-height: 60px;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}

.early_access {
  background-color: #E5E5E5;
}
.early_access .container {
  padding-top: 23px;
  max-width: 1440px;
  margin: 0 auto;
}
.early_access .container .line {
  width: 1390px;
  height: 2px;
  background-color: #006450;
  margin: 0 auto;
  margin-bottom: 27.5px;
}
.early_access .container .main_part {
  display: flex;
  justify-content: space-around;
}
.early_access .container .main_part .card {
  width: 683px;
  height: 683px;
}
.early_access .container .main_part .texts {
  width: 683px;
  position: relative;
}
.early_access .container .main_part .texts .main_text {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translate(0, -50%);
  width: 642px;
  height: 186px;
  text-align: center;
}
.early_access .container .main_part .texts .main_text p {
  font-weight: 400;
  font-size: 56px;
  line-height: 62px;
  color: #006450;
}
.early_access .container .main_part .texts .sign_up_text {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 204px;
  height: 16px;
}
.early_access .container .main_part .texts .sign_up_text p {
  font-size: 24px;
  line-height: 16px;
  font-weight: 400px;
  color: #006450;
  text-transform: lowercase;
}

.plastics {
  background-color: #E5E5E5;
}
.plastics .container {
  padding-top: 23px;
  max-width: 1440px;
  margin: 0 auto;
}
.plastics .container .line {
  width: 1390px;
  height: 2px;
  background-color: #006450;
  margin: 0 auto;
  margin-bottom: 27.5px;
}
.plastics .container .main_part {
  display: flex;
  justify-content: space-around;
}
.plastics .container .main_part .main_text {
  position: relative;
}
.plastics .container .main_part .main_text .single_use {
  width: 647px;
  height: 88px;
}
.plastics .container .main_part .main_text .single_use p {
  font-size: 36px;
  font-weight: 400px;
  line-height: 44px;
  letter-spacing: 0.4px;
  color: #006450;
  text-transform: lowercase;
}
.plastics .container .main_part .main_text .plastic_fight {
  margin: 60px 0;
  width: 647px;
  height: 132px;
}
.plastics .container .main_part .main_text .plastic_fight p {
  font-size: 36px;
  font-weight: 400px;
  line-height: 44px;
  letter-spacing: 0.4px;
  color: #006450;
}
.plastics .container .main_part .main_text .plastic_crisis {
  width: 209px;
  height: 16px;
  position: absolute;
  bottom: 10px;
}
.plastics .container .main_part .main_text .plastic_crisis p {
  font-size: 24px;
  font-weight: 400px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #006450;
  text-transform: lowercase;
}

.impact {
  background-color: #E5E5E5;
}
.impact .container {
  padding-top: 22.5px;
  max-width: 1440px;
  margin: 0 auto;
}
.impact .container .line {
  width: 1390px;
  height: 2px;
  background-color: #006450;
  margin: 0 auto;
  margin-bottom: 27.5px;
}
.impact .container .main_part {
  display: flex;
  justify-content: space-around;
}
.impact .container .main_part .card {
  width: 683px;
  height: 683px;
}
.impact .container .main_part .texts {
  width: 683px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.impact .container .main_part .texts .main_text {
  position: absolute;
  left: 25px;
  top: 2px;
  width: 600px;
  height: 186px;
  text-align: left;
}
.impact .container .main_part .texts .main_text p {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #006450;
}
.impact .container .main_part .texts .additional_text {
  position: absolute;
  left: 25px;
  top: 150px;
  width: 663px;
  height: 132px;
}
.impact .container .main_part .texts .additional_text p {
  font-size: 36px;
  font-weight: 400px;
  line-height: 44px;
  color: #006450;
}
.impact .container .main_part .texts .learn_more {
  position: absolute;
  bottom: 10px;
  width: 204px;
  height: 16px;
}
.impact .container .main_part .texts .learn_more p {
  font-size: 24px;
  line-height: 16px;
  font-weight: 400px;
  color: #006450;
  text-transform: lowercase;
}

#bottom {
  margin-top: 25px;
}/*# sourceMappingURL=main.css.map */