* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topic {
  position: relative;
  border: 3px solid black;
  width: 800px;
  height: 70px;
  padding: 10px;
  background-color: rgb(181, 216, 200);
}
.created_data {
  padding-top: 7px;
}
.some_date {
  margin-left: 20px;
}
.icon {
  position: absolute;
  left: 760px;
  bottom: 30px;
}

.main_info {
  border: 3px solid black;
  width: 800px;
  height: 600px;
  border-top: hidden;
  overflow-y: auto;
  background-color:rgba(33, 105, 75, 0.388)
}
.table {
  margin-left: 50px;
  margin-top: 40px;
}
div.circle {
 text-align: center;
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;

  padding-top: 12px;
  margin: 10px 10px;
  background-color:rgb(181, 170, 140);
}
.text {
  border: 2px solid black;
  min-height: 30px;
  width: 560px;
  border-radius: 5px;
  padding: 8px;
}
.message {
  margin-left: 20px;
  padding: 6px 0px 10px 5px;
  
}
.person_info {
  display: flex;
}
.lefts {
  display: flex;
  padding: 10px;
  border-right: 1px solid black;
}
.date{
  padding-top: 12px;
  

}
i{
  font-size: 25px;
}
