* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.4px;
}
a {
  text-decoration: none;
  color: $info_color;
}
.shop_now {
  background-image: url("../../../image/Rectangle.jpg");
  width: 100%;
  min-height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 90px;
    .main_text {
      color: #fffaef;
      font-weight: 200;
      font-size: 30px;
    } button{
      width: 201px;
      height: 64px;
      background-color:$button_color;
      text-align: center;
      border: none;
      line-height: 64px;
    }

  }
}
.plastic_waste{
  background-color: #E5E5E5;
  .container{
    padding-top: 80px;
    .line{
      width: 1390px;
      height: 2px;
      background-color: $info_color;
      margin: 0 auto;
      margin-bottom: 60px;
    }
    .section_header{
      text-align: center;
      width: 583px;
      height: 132px;
      margin: 0 auto;
      h3{
        font-size: 36px;
        line-height: 44px;
        color: #006450;
      }
      
    }
    .cards{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .card{
        width: 683px;
        height: 683px;
        color:$card_color;
        margin-top: 30px;
        
        
          position: relative;
      
        .card_header{
          position: absolute;
          top: 13px;
          left: 120px;
          font-size: 36px;
          font-weight: 400;
          line-height: 44px;
         
        }
        .card_main{
          position: absolute;
          top: 67px;
          right: 150px;
          left: 120px;
          font-size: 24px;
          font-weight: 400;
          line-height: 26px;
        }
        
         
      
          button{
           
            background-color: #E1FF32;;
            border: transparent;
            position: absolute;
            font-size: 24px;
            font-weight: 400;
            line-height: 60px;
            bottom: 0;
          width: 100%;
          left: 0;
          right: 0;
          
          }
          
      
        
        
      }
    
    }
    
  }
  
}


  
 
  

 
      
      
    
  
   
  

